<h2>Blog:</h2>

<a href="/post/new" class="btn btn-primary">Create post</a>

<% @posts.each do |post| %>
	<div class="card m-3">
	  <div class="card-header">
	  	<%= post.author %>
	  </div>
	  <div class="card-body">
	    <h5 class="card-title"><%= post.header %></h5>
	    <p class="card-text"><%= post.content %></p>
	    <a href="/posts/<%= post.id %>" class="btn btn-primary">Open</a>
	  </div>
	</div>
<% end %>

<br><br>